/*
 * -------------------------------------------------
 *  NanoRTax example config file
 * -------------------------------------------------
 * Defines default parameters and everything required
 * to run a custom NanoRTax run. Use as follows:
 *   nextflow run nf-core/rtnanopipeline -profile default,<docker/conda>
 */

params {
  config_profile_name = 'Default parameters'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Specify true/false to enable/disable the different classifiers available  
  kraken = true
  centrifuge = true
  blast = true

  // Databases
  kraken_db = "db/16S_RDP_k2db"
  centrifuge_db = "db/silva"
  blast_db = "db/16S_ribosomal_RNA"
  blast_taxdb = "db/taxdb"

  // Input selection  
  // reads = "$baseDir/test_data/minimock.fastq"
  // reads_rt = "/path_to_seq_experiment/fastq_pass/**/*.fastq"

  // Output selection
  outdir = './results'

  // Workflow parameters
  min_read_length = 1400
  max_read_length = 1700
  cntrf_min_hitlen = 16
  blast_evalue = 11
  blast_max_hsps = 50

}
