/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/rtnanopipeline -profile test,<docker/conda>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources
  // max_cpus = 8
  // max_memory = 16.GB
  // max_time = 48.h

  name="test-run"
  reads = "$baseDir/test_data/minimock.fastq"
  min_read_length = 1400
  max_read_length = 1700
  blast_db = "db/16S_ribosomal_RNA"
  blast_taxdb = "db/taxdb"
  kraken_db = "db/16S_RDP_k2db"
  centrifuge_db = "db/p_compressed"
  kraken = true
  centrifuge = true
  blast = true
}
