/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test,<docker/conda>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources
  // max_cpus = 8
  // max_memory = 16.GB
  // max_time = 48.h

  name="test-run-32-noBLAST"
  reads = "$baseDir/test_data/minimock.fastq"
  min_read_length = 1400
  max_read_length = 1700
  blast_db = "db/16S_ribosomal_RNA"
  blast_taxdb = "db/taxdb"
  kraken_db = "db/16S_RDP_k2db"
  centrifuge_db = "db/p_compressed"

  //Select classifiers to be added to the analysis
  kraken = true
  centrifuge = true
  //Check the 'process' configuration below in order to run BLAST the most appropiate way for your machine
  blast = true
}

//Set performance options for every classifier
//Memory limits should be set based on the index classifier requirements
process {
  withName: read_binning_blast {
        //16 threads or most of the machine's available threads are recommended 
        cpus = 4
        memory = 16.GB
    }
}

process {
  withName: read_binning_kraken {
        cpus = 4
        memory = 16.GB
    }
}

process {
  withName: read_binning_cntrf {
        cpus = 4
        memory = 16.GB
    }
}
